  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
    
  }


  body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: black;
    background-color: #F2F2F2;
    margin: 0;
    min-height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 1280px;
    display: flex;
    flex-direction: column;
    
  }

  .page-header {
    font-weight: 700;
    font-size: 20px;
    outline: 2px solid rgb(196, 33, 33);
    
  }

  .logo-header {
    display: block;
    padding-left: 70px;
    outline: 2px solid rgb(74, 41, 223);
  }

  .navigation {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    outline: 2px solid rgb(58, 216, 58);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .navigation-list {
    list-style-type: none;
    max-width: 390px;
    display: flex;
    margin: 0;
    padding: 0;
    
    outline: 1px solid rgb(0, 0, 0); 
  }

  .navigation-user {
    max-width: 270px;
    margin-left: auto;
  }

  .navigation-item {
    margin-left: 34px;

  }

  .navigation-link {
    text-decoration: none;
    color: #000000;
  }

  .welcome {
    text-align: center;
  }

  .logo-container {
    background-image: url("../images/index/index-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 51px;
    
  }

  .welcome-description {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .advantages-list {
    list-style-type: none;
  }

  .advantages-item {
    font-size: 18px;
    line-height: 21px;
  }

  .advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .advantages-description {
    background-color: #82B3D3;
    color: #ffff;
  }

  .advantages-list {
    background: rgba(131, 179, 211, 0.12);
  }

  .cute-road {
    background: rgba(131, 179, 211, 0.2);
  }

  .subscribe {
    text-align: center;
    height: 411px;
    color: #ffffff;
  }

  .subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .subscribe-describtion {
    font-size: 22px;
    line-height: 26px;

  }

  .subscribe-main {
    background-image: url("../images/index/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .button {
    background-color: #756157;
    color: #ffffff;
    text-decoration: none;
  }

  .catalog-services {
    background-image: url("../images/catalog/catalog-background.jpg");
    background-repeat: no-repeat;
  }

  .product-card-button {
    color: #ffffff;
    text-decoration: none;
  }

  .button-add {
    background-color: #82B3D3;
  }

  .pagination-item {
    width: 60px;
    height: 60px;
    background-color: #82B3D3;
    color: #ffffff;
    padding-left: 8px;
    text-align: center;
  }

  .pagination {
    margin: 0 auto;
    list-style: none;
 }

  .pagination-current {
    color: #000000;
    background-color: #F2F2F2;
  }

  .subscribe-catalog {
    color: #000000;
  }

  .search-hotels {
    text-align: center;
  }
  
  .main-container {
    flex-grow: 1;
  }