  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;

  }


  body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: black;
    background-color: #F2F2F2;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 1200px;
    display: flex;
    flex-direction: column;

  }

  .page-header {
    font-weight: 700;
    font-size: 20px;
    outline: 2px solid rgb(196, 33, 33);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-header {
    padding-left: 70px;
    outline: 2px solid rgb(74, 41, 223);
  }

  .navigation {
    display: flex;
    margin: 0 auto;
    width: 900px;
    outline: 2px solid rgb(58, 216, 58);
  }

  .navigation-list {
    list-style-type: none;
    width: 390px;
    display: flex;
    margin: 0;
    padding: 0;

    outline: 1px solid rgb(0, 0, 0);
  }

  .navigation-user {
    margin-left: auto;
  }

  .navigation-item {
    margin-left: 34px;

  }

  .navigation-link {
    text-decoration: none;
    color: #000000;
  }

  .welcome {
    text-align: center;
  }

  .logo-container {
    background-image: url("../images/index/index-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 51px;

  }

  .welcome-description {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .advantages-list {
    list-style-type: none;
  }

  .advantages-item {
    font-size: 18px;
    line-height: 21px;
  }

  .advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .advantages-description {
    background-color: #82B3D3;
    color: #ffff;
  }

  .advantages-list {
    background: rgba(131, 179, 211, 0.12);
  }

  .cute-road {
    background: rgba(131, 179, 211, 0.2);
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;

  }

  .subscribe-main {
    background-image: url("../images/index/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .subscribe-catalog {
    background-color: #ffffff;
  }

  .subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 94px;
  }

  .subscribe-describtion {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    padding-top: 29px;
  }

  .subscribe-form {
    padding-top: 46px;
    padding-bottom: 94px;
  }

  .button {
    background-color: #756157;
    color: #ffffff;
    text-decoration: none;
  }

  .product-card-button {
    color: #ffffff;
    text-decoration: none;
  }

  .button-add {
    background-color: #82B3D3;
  }

  .search-hotels .button-big {
    margin-top: 56px;
  }

  .catalog-services {
    background-image: url("../images/catalog/catalog-background.jpg");
    background-repeat: no-repeat;
  }

  .pagination-item {
    width: 60px;
    height: 60px;
    background-color: #82B3D3;
    color: #ffffff;
    padding-left: 8px;
    text-align: center;
  }

  .pagination {
    margin: 0 auto;
    list-style: none;
  }

  .pagination-current {
    color: #000000;
    background-color: #F2F2F2;
  }

  .subscribe-catalog {
    color: #000000;
  }

  .search-hotels {
    text-align: center;
  }

  .search-hotels-title {
    text-transform: uppercase;
    margin: 0;
    padding-top: 91px;
  }

  .search-hotels-describtion {
    margin: 0;
    padding-top: 29px;
  }

  .main-container {
    flex-grow: 1;
  }

  .page-container {
    margin: 0 auto;

  }

  .advantages-list {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;

  }

  .advantages-item {
    width: 400px;
    outline: 3px solid rgb(47, 61, 187);
  }

  .advantages-container {
    display: flex;
    flex-grow: 2;
  }

  .page-footer {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
  }

  .footer-social-list {
    list-style-type: none;
    display: flex;
  }
  .visually-hidden {
    visibility: hidden;
  }